*{
    box-sizing:  border-box;
}
body{
    background-color: gainsboro;
}
.block{
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding: 5px;
    max-width: 100%;
}

.logo{
    margin-top: 50px;
}
nav{
    min-width: min-content;
}

.menu_admin{
    background-color: #fff;
    padding: 10px 0px;
}
.menu_admin_active{
    background-color: dodgerblue;
    color: white;
}
.konten_admin{
    background-color: #fff;
    padding: 10px;
}