*{
    box-sizing:  border-box;
}
body{
    background-color: gainsboro;
}
footer{
    margin-top: 10px;
}
.main-container{
    min-height: 100vh;
}
.block{
    margin: auto;
    margin-top: 20px 100px;
    width: 400px;
    padding: 5px;
    max-width: 100%;
    min-width: 200px;
    margin-left: -200px;
    margin-top: -148px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.logo{
    margin-top: 50px;
}
nav{
    min-width: min-content;
}

.menu_admin{
    background-color: #fff;
    padding: 10px 0px;
}
.menu_admin_active{
    background-color: dodgerblue;
    color: white;
}
.konten_admin{
    background-color: #fff;
    padding: 10px;
}
.admin_thumb{
    width: 100px;
}

.user-admin-btn{
    max-width: 100px;
    /* border-radius: 20px; */
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.form_admin{
    border: 1px solid gainsboro;
    padding: 10px;
}

.multi-kolom-4{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

@media screen and (max-width: 1024px) {
    .konten_admin{
        overflow-x: scroll;
    }
}
@media screen and (max-width: 480px) {
    .block{
        width: auto;
        margin: 30px 20px;
        height: auto;
        position: static;
    }
    .multi-kolom-4{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
