*{
    box-sizing:  border-box;
}
body{
    background-color: gainsboro;
}
.light-toggle{
    background-color: black;
}
footer{
    margin-top: 10px;
}
.main-container{
    min-height: 100vh;
}
.block{
    margin: auto;
    margin-top: 20px 100px;
    width: 400px;
    padding: 5px;
    max-width: 100%;
    min-width: 200px;
    margin-left: -200px;
    margin-top: -148px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.logo{
    margin-top: 50px;
}
nav, footer, genres{
    min-width: max-content;
}

.menu_admin{
    background-color: #fff;
    padding: 10px 0px;
}
.menu_admin_active{
    background-color: dodgerblue;
    color: white;
}
.konten_admin, .konten_user{
    background-color: #fff;
    padding: 10px;
}
.admin_thumb{
    width: 100px;
}

.user-admin-btn{
    max-width: 100px;
    /* border-radius: 20px; */
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.form_admin{
    border: 1px solid gainsboro;
    padding: 10px;
}

.multi-kolom-4{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.multi-kolom-2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.profil_anime{
    background-color: gainsboro;
    padding: 10px;
}
/*user*/
.search-bar{
    background-color: black;
    color: white;
    border: 1px solid darkgrey;
    min-width: 200px;
}
.search-bar:focus{
    background-color: black;
    color: white;
    border: 1px solid darkgrey;
}

.konten-utama{
    border: 1px solid gainsboro;
    padding: 10px;
}
.recommend-anime{
    border: 1px solid gainsboro;
}
.sub-judul{
    border: 7px solid gainsboro;
    font-weight: bold;
    padding: 1px;
}
.thumbnail-anime {
    position: relative;
    display: inline;
    width: 150px;
    overflow: hidden;
}
.thumbnail-anime img{
    width: 150px;
}
.caption {
    position: absolute;
    padding-bottom: 0px;
    top: 100px;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.thumb-episode{
    width: 100%;
    max-height: 100px;
}
.ket-episode{
    background-color: gainsboro;
    padding: 10px;
    height: 100%;
}
.judul-ket-episode{
    font-weight: bold;
    color: black;
}
.table-dark-hover tbody tr:hover{
    background-color: rgb(70, 69, 69);
    color: white;
}

.table-dark-hover tbody tr a{
    color: inherit;
}

.btn-orange{
    background-color: orangered;
    color: white;
}
.btn-orange:hover{
    background-color: rgb(201, 54, 0);
    color: white;
}
.btn-grey{
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
}
.btn-grey:hover{
    background-color: gainsboro;
    border: 1px solid #d8d8d8;
}
.next-prev-episode a{
    font-weight: bold;
}
.download{
    background-color: gainsboro;
    padding: 20px;
}
.link_download{
    background-color: rgb(165, 164, 164);
}
.link_download a{
    color: rgb(97, 97, 97);
    font-weight: bold;
}
.link_download a:hover{
    color: black;
    text-decoration: none;
}
.ket-thumb{
    width: 150px;
    min-height: 216px;
}
.comment{
    width: 100%;
}
.comment form, .comment form input[type=text], .comment form textarea{
    width: 100%;
    min-width: 100%;
}
.comment form textarea{
    font-size: 20px;
    padding: 10px;

}
.card{
    border: none;
}
.card-tambahan{
    display: block;
    overflow: hidden;
}

.card-thumbnail, .card-isi{
    float: left;
}

.card-thumbnail{
    width: 150px;
}

.card-thumbnail img{
    width: 100%;
    display: block;
    height: 150px;
}

.card-isi{
    width: 70%;
    padding-left: 10px;
}
@media screen and (max-width: 1024px) {
    .konten_data{
        overflow-x: scroll;
    }
    .container{
        margin-left: 2px;
        min-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .block{
        width: auto;
        margin: 30px 20px;
        height: auto;
        position: static;
    }

}
