*{
    box-sizing:  border-box;
}
body{
    background-color: gainsboro;
}
footer{
    margin-top: 10px;
}
.main-container{
    min-height: 100vh;
}
.block{
    margin: auto;
    margin-top: 20px 100px;
    width: 400px;
    padding: 5px;
    max-width: 100%;
    min-width: 200px;
    margin-left: -200px;
    margin-top: -148px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.logo{
    margin-top: 50px;
}
nav, footer, genres{
    min-width: max-content;
}

.menu_admin{
    background-color: #fff;
    padding: 10px 0px;
}
.menu_admin_active{
    background-color: dodgerblue;
    color: white;
}
.konten_admin, .konten_user{
    background-color: #fff;
    padding: 10px;
}
.admin_thumb{
    width: 100px;
}

.user-admin-btn{
    max-width: 100px;
    /* border-radius: 20px; */
    padding: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.form_admin{
    border: 1px solid gainsboro;
    padding: 10px;
}

.multi-kolom-4{
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.profil_anime{
    background-color: gainsboro;
    padding: 10px;
}
/*user*/
.search-bar{
    background-color: black;
    color: white;
    border: 1px solid darkgrey;
    min-width: 200px;
}
.search-bar:focus{
    background-color: black;
    color: white;
    border: 1px solid darkgrey;
}

.konten-utama{
    border: 1px solid gainsboro;
    padding: 10px;
}
.recommend-anime{
    border: 1px solid gainsboro;
}
.sub-judul{
    border: 7px solid gainsboro;
    font-weight: bold;
    padding: 1px;
}
.thumbnail-anime {
    position: relative;
    display: inline;
    width: 150px;
    overflow: hidden;
}
.thumbnail-anime img{
    width: 150px;
}
.caption {
    position: absolute;
    padding-bottom: 0px;
    top: 100px;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: black;
    opacity: 0.8;
}

.thumb-episode{
    width: 100%;
    max-height: 100px;
}
.ket-episode{
    background-color: gainsboro;
    padding: 10px;
    height: 100%;
}
.judul-ket-episode{
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 1024px) {
    .konten_data{
        overflow-x: scroll;
    }
    .container{
        margin-left: 2px;
        min-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .block{
        width: auto;
        margin: 30px 20px;
        height: auto;
        position: static;
    }

}
